.title__box {
  margin-top: 2rem;
}

#post-form {
  background-color: var(--color-box);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

#post-form textarea {
  width: 100%;
  height: 80px;
  border-radius: 8px;
  resize: none;
  padding: 0.5rem;
  font-size: 1rem;
}

#post-form button {
  align-self: flex-end;
  padding: 0.5rem 1.2rem;
  font-size: 0.95rem;
  font-weight: bold;
  background-color: var(--color-yellow);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
#post-form button:hover {
  background-color: var(--color-brightyellow);
}

.post {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
}

.post-author {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.post-content {
  margin: 0.5rem 0;
}

.post-time {
  font-size: 0.8rem;
  color: gray;
}
.post-actions {
  display: flex;
  justify-content: end;
}

.edit-post,
.delete-post {
  padding: 0.3rem 0.7rem;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  background-color: transparent;
  border: 1px solid var(--color-line);
  border-radius: 8px;
  color: var(--color-text-main);
}

.edit-post,
.delete-post:hover {
  border: 1px solid var(--color-line);
  border-radius: 8px;
  background-color: var(--color-line);
  transition: 0.2s ease-in-out;
}
